.main_blogs_container {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--padding-xl);
}

.main_blogs_container > *:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: var(--clr-primary-400);
}
.main_blogs_container > *::after {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: var(--clr-primary-400);
}

.error_text {
    color: rgb(177, 27, 27);
    font-weight: 500;
    text-align: center;
    padding-block-start: var(--padding-xl);
    font-size: var(--fs-lg);
}

.blog {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    padding-block: calc(var(--padding-xl) + 1rem);
}
.blog_loader {
    margin-block-start: var(--padding-lg);
}

.author_section_container {
    font-size: var(--fs-xs);
    font-weight: 500;

    display: flex;
    gap: var(--padding-lg);
}

.author_section_container img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}

.author_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author_info_container span {
    color: rgb(0 0 0 / 0.5);
}

.author_info_top_container {
    display: flex;
    align-items: center;
    gap: var(--padding-lg);
}

.author_info_top_container > span:nth-of-type(1) {
    font-size: var(--fs-sm);
    font-weight: 600;
    opacity: 1;
    color: var(--clr-primary-1000);
}

.blog_creation_date {
    position: relative;
    margin-inline-start: var(--padding-lg);
}
.blog_creation_date::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--clr-primary-900);
    width: min(var(--fs-xs) - 0.1rem, 0.3rem);
    aspect-ratio: 1;
    border-radius: 50%;
}

.blog_content_container {
    display: flex;
    gap: calc(var(--padding-xl) + 1rem);
}

.blog_content_container h2 {
    font-size: var(--fs-lg);
    font-family: var(--ff-tertiary);
    font-weight: 600;
    line-height: 1.2;
}

.blog_content_container p {
    font-size: var(--fs-sm);
    font-family: var(--ff-tertiary);
    font-weight: 500;
    color: rgb(0 0 0 / 0.7);
}

.blog_info_container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
}

.blog_bottom_btn_container {
    display: flex;
    gap: var(--padding-lg);
    justify-content: space-between;
    align-items: flex-start;
}

.blog_bottom_btn_container > .blogs_topics_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--padding-sm);
}
.blog_bottom_btn_container > .blogs_topics_container > * {
    flex: 1;
}

.blog_bottom_btn_container :global(.button_primary_pill) {
    color: rgb(0 0 0 / 0.5);
    font-size: var(--fs-xs);
}

.blog_img {
    object-fit: cover;
    border-radius: 0.5em;
}

@media screen and (max-width: 1200px) {
    .blog_bottom_btn_container > a {
        position: absolute;
        right: 0;
        top: var(--padding-xl);
    }
}

@media screen and (max-width: 1000px) {
    .blog_content_container {
        flex-wrap: wrap-reverse;
    }
    .blog_bottom_btn_container > a {
        position: relative;
        right: unset;
        top: unset;
        width: 100%;
    }
    .blog_bottom_btn_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .blog_img {
        width: 100%;
        height: auto;
    }
}
