.primary_loading_btn {
    position: relative;
    padding: var(--padding-md) var(--padding-xl);

    background-color: var(--clr-primary-1000);
    border-radius: 0;
    color: var(--clr-primary-100);
    font-size: var(--fs-sm);
    font-family: var(--ff-secondary);
    font-weight: 400;
    transition: transform 3ms ease-in-out;

    overflow: hidden;
}

.primary_loading_btn:active {
    transform: scale(0.98);
}

.primary_loading_btn svg {
    font-size: var(--fs-md);
}
.container_copy {
    max-width: max-content;
    position: absolute;
    visibility: hidden;
}

.children_container {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_container {
    position: absolute;
    inset: 0;
}
.success_msg_container {
    /* got color from js */
    color: var(--color, var(--clr-primary-100));

    position: absolute;
    inset: 0;
    padding-inline: var(--padding-md);

    display: flex;
    align-items: center;
    justify-content: center;
}

.success_msg > * {
    display: inline-block;
}

.checkmark {
    width: 30px;
    height: 30px;
    stroke-width: 3;
    stroke: var(--clr-primary-100);
    stroke-miterlimit: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}
.checkmark_check {
    /* got color from js */
    stroke: var(--color, var(--clr-primary-100));

    stroke-dasharray: 48px;
    stroke-linecap: round;
}

.error_msg_container {
    composes: success_msg_container;

    gap: var(--padding-sm);
}

/*error svg*/

.error_msg_container svg {
    width: 20px;
    height: 20px;
    stroke: var(--clr-primary-100);
    stroke-miterlimit: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.error_msg_container svg {
    rotate: 90deg;
}
.error_msg_container rect {
    /* got color from js */
    stroke: var(--color, var(--clr-primary-100));
    fill: var(--color, var(--clr-primary-100));
}

.error_line {
    transform-origin: center;
    transition: width 500ms ease;
}

.error_msg_container .error_line_1 {
    transform: rotate(45deg);
}
.error_msg_container .error_line_2 {
    transform: rotate(-45deg);
}
