.primary_loading_btn {
    --transition-delay: 100ms;

    position: relative;
    padding: var(--padding-md) var(--padding-xl);

    background-color: var(--clr-primary-1000);
    border-radius: 0;
    color: var(--clr-primary-100);
    font-size: var(--fs-sm);
    font-family: var(--ff-secondary);
    font-weight: 400;
    transition: transform 3ms ease-in-out;

    /* overflow: hidden; */
}

.primary_loading_btn:active {
    transform: scale(0.98);
}

.primary_loading_btn svg {
    font-size: var(--fs-md);
}
.children_copy {
    opacity: 0;
}

.children_container {
    min-width: max-content;
    /* background-color: blue; */

    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_container {
    position: absolute;
    inset: 0;
}
.success_msg_container {
    /* background-color: green; */

    /* got color from js */
    color: var(--color, var(--clr-primary-100));

    position: absolute;
    inset: 0;
    padding-inline: var(--padding-md);

    display: flex;
    align-items: center;
    justify-content: center;
}

.success_msg > * {
    display: inline-block;
}

.checkmark {
    width: auto;
    height: 30px;
    stroke-width: 3;
    stroke: var(--clr-primary-100);
    stroke-miterlimit: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}
.checkmark_check {
    /* got color from js */
    stroke: var(--color, var(--clr-primary-100));

    stroke-dasharray: 48px;
    stroke-linecap: round;
}

.error_msg_container {
    composes: success_msg_container;

    gap: var(--padding-xs);
}
.error_msg_container > .svg_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error_msg_container path {
    /* got color from js */
    stroke: var(--color, var(--clr-primary-100));
}
