.main_blogs_container {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--padding-xl);
}

.main_blogs_container > *:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: var(--clr-primary-400);
}
.main_blogs_container > *::after {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    height: 2px;
    border-radius: 100vh;
    background-color: var(--clr-primary-400);
}
