.nav {
    position: fixed;
    top: 0;
    inset-inline: 0;
    background-color: var(--clr-primary-100);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-md) var(--padding-xl);

    border-bottom: 1.5px solid rgb(0 0 0 / 0.1);
    z-index: var(--z-index-nav);

    transition: background-color 250ms ease-in-out;
    isolation: isolate;
}

.nav > a {
    text-transform: uppercase;
    word-spacing: 0.5rem;
    font-size: var(--fs-md);
    font-weight: 600;
}

.hammenu {
    --hammenu-line-width: 1.5rem;

    position: relative;
    width: var(--hammenu-line-width);
    height: 1.3rem;
}
.hammenu :global(.line) {
    height: 2px;
    background-color: rgb(0 0 0 / 0.85);
    border-radius: 100vh;

    transform-origin: center;
    transition: rotate 250ms ease, transform 250ms ease;

    position: absolute;
    inset-inline: 0;
    top: 50%;
    translate: 0 -50%;
}

.hammenu > :global(.line:nth-of-type(1)) {
    transform: translateY(-0.2rem);
}
.hammenu > :global(.line:nth-of-type(2)) {
    transform: translateY(0.2rem);
}

.hammenuClose > :global(.line:nth-of-type(1)) {
    transform: none;
    rotate: 42deg;
}
.hammenuClose > :global(.line:nth-of-type(2)) {
    transform: none;
    rotate: -42deg;
}

.navUtilitiesContainer {
    display: flex;
    align-items: center;
    gap: var(--padding-lg);
}
.navUtilitiesContainer .notificationButton {
    font-size: var(--fs-md);
    display: grid;
    place-items: center;
    position: relative;
}

.navUtilitiesContainer .notificationButton:global(.have-notifications)::before {
    content: "";
    display: block;
    width: 0.35rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(255, 155, 6);
    position: absolute;
    top: 0;
    right: 0;
}
.createBlogButton {
    display: flex;
    align-items: center;
    gap: var(--padding-sm);
    font-size: 0.9rem;
    padding: var(--padding-sm) var(--padding-lg);
    font-weight: 500;
    border: 1.5px solid rgb(0 0 0 / 0.1);
    border-radius: 8px;
    transition: background-color 250ms ease;
}
.createBlogButton:hover {
    background-color: rgb(0 0 0 / 0.03);
}

.navigation_menu {
    height: 90vh;
    overflow: auto;
    background: var(--clr-primary-200);

    position: absolute;
    inset-inline: 0;
    bottom: 0;

    /* display will be made flex when navigation_menu is opened */
    display: none;

    flex-direction: column;
    text-transform: capitalize;

    padding-block: var(--padding-lg);

    transform: translateY(100%);
    z-index: -1;
}
.navigation_menu > * + * {
    border-top: var(--clr-primary-400) 2px solid;
}
.navigation_menu a {
    display: inline-block;
    min-width: 100%;
    padding: var(--padding-lg) var(--padding-xl);
}
.navigation_menu :global(.mobile-only) {
    display: none;
}
.navigation_menu[data-state="opened"] {
    animation: navMenuOpen 250ms ease-in-out forwards;
    display: flex;
}
.navigation_menu[data-state="closing"] {
    animation: navMenuClose 250ms ease-in-out forwards;
    display: flex;
}
.navigation_menu[data-state="closed"] {
    display: none;
}

@keyframes navMenuOpen {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(100%);
    }
}
@keyframes navMenuClose {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }
    100% {
        opacity: 0;
        transform: translateY(50%);
    }
}

/* 500px - 31.25rem */
@media screen and (max-width: 31.25rem) {
    .navUtilitiesContainer {
        display: none;
    }
    .navigation_menu :global(.mobile-only) {
        display: inline-block;
    }
    .nav {
        flex-direction: row-reverse;
    }
}
